@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply max-w-7xl mx-auto;
}

nav {
  @apply flex w-full px-8 py-6 justify-between items-center bg-stone-200 text-lg font-medium text-slate-800; 
}

.logo {
  @apply flex gap-3 items-center;
}

.logo svg {
  @apply text-4xl
}

.logo span {
  @apply font-light
}

nav .navLinks ul{
  @apply flex gap-4 ;
}

.contactUs button {
  @apply btn outline outline-slate-800 outline-1 rounded-3xl hover:bg-slate-800 hover:text-stone-200;
}